/node_modules
/public/hot
/public/storage
/public/customVariants
/public/designImages
/public/tshirtImages
/public/productImages
/public/logs
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.snippetsHelp.php
