
// Body
$body-background-color: whitesmoke;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//navbar
$navbar-height: 2rem;
$navbar-item-color: whitesmoke;
$navbar-item-hover-color: rgb(253, 231, 231);
$navbar-item-hover-background-color: #003545;
$navbar-dropdown-item-color: whitesmoke;
$navbar-dropdown-item-hover-color: rgb(253, 231, 231);
$navbar-background-color: #004050;
$navbar-dropdown-background-color: #004050;
$navbar-dropdown-item-hover-background-color: #003545;

// $red: #E90478;
$danger: #E90478;

