.contentArea {
    margin-top: 4rem;
}

.formlabel {
    color: #333;
    font-weight: 600;
}

.designImage {
    border: 1px solid rgb(212, 212, 212);
    margin: 20px;
    padding: 10px;
}

.designImage:hover {
    width: 400px;
}

.hideDetail {
    display: none;
}

.showDetail {
    display: inline;
}

.productDetail {
    width: 9rem;
}

#baseImage {
    display:none;

}

.inputLabel {
    border: 1px solid grey;
    border-radius: 5px;
    display: inline-block;
    width: 15rem;
    background-color: white;
}

.navbar-title {
    font-size: 1.75rem;
}

.errors {
    background-color: red;
}

.btnLabel, .btnLabel:hover{
    display: inline-block;
    // border: 1px solid black;
    width: 10rem;
    text-align: right;
    height: 2.25rem;
    line-height: 2.25rem;
    vertical-align: middle;

}

.is-activeImage {
    border: 1px solid red;
}

.is-activeDesign {
    border: 1px solid red;
}

.designArea {
    margin: 0;
    // width: 960px;
}

#customizationContainer {
    padding: 0;
}

div.fixed {
    display:    inline-block;
    max-width: 100px;
}


p.imageHead
{
    max-width: 200px;
}

// .sizeSelect {
//     display: inline-block;

// }

.orderSize {
    width: 5rem;
    display: inline-block;
}


input[id*='orderAmount'] {
    padding: 0;
}

input[type=checkbox]
{
    margin-top: 12px;
    color: #99a1a7;
  /* Double-sized Checkboxes */
  -ms-transform: scale(3); /* IE */
  -moz-transform: scale(3); /* FF */
  -webkit-transform: scale(2.5); /* Safari and Chrome */
  -o-transform: scale(3); /* Opera */
  padding: 10px;
}

