.contentArea {
    margin-top: 4rem;
}

.formlabel {
    color: #333;
    font-weight: 600;
}

.designImage {
    border: 1px solid rgb(212, 212, 212);
    margin: 20px;
    padding: 10px;
}

.designImage:hover {
    width: 400px;
}

.hideDetail {
    display: none;
}

.showDetail {
    display: inline;
}

.productDetail {
    width: 5rem;
}

#baseImage {
    display:none;

}

.inputLabel {
    border: 1px solid grey;
    border-radius: 5px;
    display: inline-block;
    width: 15rem;
    background-color: white;
}

.navbar-title {
    font-size: 1.75rem;
}

.errors {
    background-color: red;
}
